In [91]:
import pandas as pd
from collections import Counter
from itertools import combinations

In [92]:
data = pd.read_csv('movie_bd_v5.csv')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1340,tt0388795,14000000,178043761,Brokeback Mountain,Heath Ledger|Jake Gyllenhaal|Randy Quaid|Miche...,Ang Lee,Love is a force of nature.,Brokeback Mountain is an Ang Lee film about tw...,134,Drama|Romance,River Road Entertainment|Alberta Film Entertai...,9/2/2005,7.2,2005
1394,tt0430308,40000000,46442528,Get Rich or Die Tryin',50 Cent|Joy Bryant|Adewale Akinnuoye-Agbaje|Om...,Jim Sheridan,If You Think You Know the Story...You Don't Kn...,A tale of an inner city drug dealer who turns ...,117,Drama,Paramount Pictures|MTV Films|Cent Productions ...,11/9/2005,6.5,2005
517,tt0250494,18000000,141774679,Legally Blonde,Reese Witherspoon|Luke Wilson|Selma Blair|Matt...,Robert Luketic,Don't judge a book by its hair color!,Elle Woods has it all. She's the president of ...,96,Comedy,Marc Platt Productions|Metro-Goldwyn-Mayer (MGM),7/13/2001,6.1,2001
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013
597,tt0290332,7000000,10229331,The Wash,Dr. Dre|Snoop Dogg|DJ Pooh|Angell Conwell|Bruc...,DJ Pooh,"When you're down 'n dirty, it all comes out in...","With the rent due and his car booted, Sean (Dr...",93,Action|Comedy,Lionsgate,11/16/2001,5.6,2001

# Предобработка

In [94]:
answers = {} # создадим словарь для ответов

#the time given in the dataset is in string format.
#So we need to change this in datetime format 
data["release_date"] = pd.to_datetime(data["release_date"], format='%m/%d/%Y')

# calculate profit and add to DataFrame as column
data["profit"] = data.revenue - data.budget

# copy the data frame for genres
data_genres = data.copy()

# copy the data frame for directors
data_dir = data.copy()

# copy the data frame for actors
data_cast= data.copy()

# copy the data frame for production
data_prod = data.copy()

# function explode_df
def explode_df(df, col_name):
    """
    Function transforms string that contains "|" to a list, 
    afterwards each element of the list is converted to a row of a data frame.
    :param df: Data Frame - pd.DataFrame
    :param col_name: name of a column - string
    :return: df: modified Data Frame - pd.DataFrame
    """
    df[col_name] = df[col_name].apply(lambda x: x.split("|"))
    df = df.explode(col_name)
    return df

# add season based on the calendar number of month
season = {
    1: 'Winter',
    2: 'Winter',
    3: 'Spring',
    4: 'Spring',
    5: 'Spring',
    6: 'Summer',
    7: 'Summer',
    8: 'Summer',
    9: 'Autumn',
    10: 'Autumn',
    11: 'Autumn',
    12: 'Winter'
}
5
# add "season" column to DataFrame with directors
data_dir['season'] = data_dir['release_date'].apply(lambda x: season[x.month])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [95]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [96]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [97]:
# можно добавлять разные варианты решения
data.loc[data.budget.idxmax()].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [98]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [99]:
data.loc[data.runtime.idxmax()].original_title

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [100]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [101]:
data.loc[data.runtime.idxmin()].original_title

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [102]:
answers['4'] = '2. 110'

In [103]:
round(data.runtime.mean())

110.0

# 5. Каково медианное значение длительности фильмов?

In [104]:
answers['5'] = '1. 107'

In [105]:
round(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [106]:
answers['6'] = '5. Avatar (tt0499549)'

In [107]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data.profit.idxmax()].original_title

'Avatar'

# 7. Какой фильм самый убыточный?

In [108]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [109]:
data.loc[data.profit.idxmin()].original_title

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [110]:
answers['8'] = '1. 1478'

In [111]:
sum(data.revenue > data.budget)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [112]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [113]:
movies_2008 = data[data.release_year==2008]
movies_2008.loc[movies_2008.profit.idxmax()].original_title

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [114]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [115]:
movies_2012_2014 = data[ (2012 <= data.release_year) & (data.release_year <= 2014)]
movies_2012_2014.loc[movies_2012_2014.profit.idxmin()].original_title

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [116]:
answers['11'] = '3. Drama'

In [117]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_genres = explode_df(data_genres, "genres")

dict_genres = dict(Counter(data_genres.genres))
max(dict_genres, key=dict_genres.get)

'Drama'

ВАРИАНТ 2

In [118]:
data_genres.genres.mode()

0    Drama
dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [119]:
answers['12'] = '1. Drama'

In [120]:
df_high_profit = data_genres[data_genres.profit>0]
df_high_profit.groupby('genres', group_keys=False).count().sort_values(by=['profit'], ascending=False).iloc[0].name

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [121]:
answers['13'] = '5. Peter Jackson'

In [122]:
data_dir = explode_df(data_dir, "director")
data_dir.groupby(['director']).sum().sort_values(by=['revenue'], ascending=False).iloc[0].name

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [123]:
answers['14'] = '3. Robert Rodriguez'

In [124]:
df_action = explode_df((data_genres[data_genres.genres=='Action']), "director")

dict_dir = dict(Counter(df_action.director))
max(dict_dir, key=dict_dir.get)

/home/anara/.local/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [125]:
answers['15'] = '3. Chris Hemsworth'

In [126]:
data_cast = explode_df(data_cast, "cast")

df_movies_2012 = data_cast[data_cast.release_year==2012]
df_movies_2012.groupby(['cast']).sum().sort_values(by=['revenue'], ascending=False).iloc[0].name

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [127]:
answers['16'] = '3. Matt Damon'

In [128]:
df_high_budget = data_cast[data_cast.budget > data_cast.budget.mean()]
df_high_budget.groupby(['cast']).count().sort_values(by=['budget'], ascending=False).iloc[0].name

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [129]:
answers['17'] = '2. Action'

In [130]:
cast_cage = data_cast[data_cast.cast=='Nicolas Cage']
cast_cage = explode_df(cast_cage, "genres")
cast_cage.groupby(['genres']).count().idxmax()[0]

/home/anara/.local/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [131]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [132]:
data_prod = explode_df(data_prod, "production_companies")
low_paramount = data_prod[(data_prod.profit<0) & (data_prod.production_companies=='Paramount Pictures')]
low_paramount.loc[low_paramount.profit.idxmin()].original_title

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [133]:
answers['19'] = '5. 2015'

In [134]:
data.groupby(['release_year']).sum().revenue.idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [135]:
answers['20'] = '1. 2014'

In [136]:
df_warner = data_prod[data_prod["production_companies"].str.contains("Warner Bros.")]
df_warner.groupby(['release_year']).sum().profit.idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [137]:
answers['21'] = '4. Сентябрь'

In [138]:
data["release_date"].groupby(data["release_date"].dt.month).agg("count").idxmax()

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [139]:
answers['22'] = '2. 450'

In [140]:
data["release_date"].groupby(data["release_date"].dt.month).agg("count")[5:8].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [141]:
answers['23'] = '5. Peter Jackson'

In [142]:
data_dir[data_dir['season']=='Winter'].groupby(['director']).count().idxmax()[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [143]:
answers['24'] = '5. Four By Two Productions'

In [144]:
data_prod["length"] = data_prod.original_title.apply(lambda x: len(x))
data_prod.sort_values(by=['length'], ascending=False).iloc[0].production_companies

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [145]:
answers['25'] = '3. Midnight Picture Show'

In [146]:
data_prod["len_overview"] = data_prod.overview.apply(lambda x: len(x))
data_prod.groupby(['production_companies']).mean().sort_values(by=['len_overview'], ascending=False).iloc[0].name

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [147]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [148]:
percentile_val = data['vote_average'].quantile(0.99)

df_top = data[data['vote_average'] >= percentile_val]

df_top['original_title'].isin(["Inside Out", "The Dark Knight", "12 Years a Slave"]).sum()

3

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [149]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [150]:
data['cast'] = data['cast'].str.split('|')
actor_pairs = []
for i in range(0, len(data)):
    for item in combinations(data['cast'][i], 2):
        actor_pairs.append(item)
Counter(actor_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [151]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [152]:
# и убедиться что ни чего не пропустил)
len(answers)

27